body {
    background-color: #a8d5ba;
}

.content {
    text-align: center;
    position: relative;
    padding-top: 0;
}

.PenaltyBox {
    position: absolute;
    width: 100%;
    height: 130%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
}

.Box {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 15px solid white; 
    opacity: 60%;
}

.Arc {
    position: relative;
    width: 40%;
    height: 50%;
    border: 15px solid white; 
    opacity: 60%;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    transform: rotate(180deg);
    border-bottom: 0;
}

.headers {
    position: relative;
    line-height: 0.5;
    z-index: 2;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem; 
    padding-top: 6px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2rem; 
}

.Paragraph1 {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 2;
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.LeagueForm {
    text-align: center;
    margin-top: 70px;
}

.LeagueForm p {
    position: relative;
    font-size: 25;
    z-index: 2;
}

select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.LeagueSection {
    text-align: center;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LeagueSection table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.LeagueSection th, .LeagueSection td {
    border: 1px solid black;
    padding: 10px; 
    text-align: center;
}

.LeagueSection img {
    height: 35px; 
    width: 35px;
    object-fit: contain;
    vertical-align: middle;
}

.LeagueSection table select {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

#LeagueTableContainer {
    padding-top: 50px; 
}

.LeagueSection img {
    height: 30;
    width: 30;
    vertical-align: middle;
    margin-right: 10;
}

.UpButton, .DownButton {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 25;
}

#Awards {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Submission {
    text-align: center;
}

.NameForm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NameForm input {
    border-radius: 15px;
}

#PredictionsSubmission {
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    vertical-align: middle;
    width: 200px;
}

#PredictionsSubmission {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#PredictionsSubmission:active {
    background-color: rgb(192, 192, 192);
    transform: scale(0.95);
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5rem; 
    padding: 0;
}

.CommentBoxes {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Comment {
    width: 90%; 
    max-width: 600px; 
    background-color: white;
    border: 3px solid black;
    padding: 10px; 
    box-sizing: border-box; 
}

h6 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem; 
}

@media screen and (max-width: 768px) {
    .LeagueSection table {
        width: 100%;
        font-size: 0.9rem;
    }

    .LeagueSection img {
        height: 25px;
        width: 25px;
    }

    h1 {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 1.5rem;
    }
}